UnitTest/.vs/
UnitTest/Mickey.Domain/obj/
UnitTest/Mickey.DataAccess/obj/
UnitTest/packages/
UnitTest/Mickey.Service/obj/
UnitTest/Mickey.Service.Tests/
UnitTest/Mickey.Web/obj/
UnitTest/Mickey.Web/bin/
UnitTest/Mickey.DataAccess/bin/
